<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
 </configSections>
 <connectionStrings>
  <add name="constring" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\bcnas02\RAD\RAD\DraftDocs\DV\Users\Chandra\LEO_DB\Load_DB.accdb" />
  <add name="Load_Effort_Optimisation.Properties.Settings.Load_optimizationConnectionString"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Load_optimization.mdb"
   providerName="System.Data.OleDb" />
  <add name="Load_Effort_Optimisation.Properties.Settings.Load_DBConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\db\Load_DB.accdb"
   providerName="System.Data.OleDb" />
  <add name="Load_Effort_Optimisation.Properties.Settings.Load_DBConnectionString1"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\db\Load_DB.accdb"
   providerName="System.Data.OleDb" />
  <add name="Load_Effort_Optimisation.Properties.Settings.Load_DBConnectionString2"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\bcnas02\RAD\RAD\DraftDocs\DV\Users\Chandra\LEO_DB\Load_DB.accdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
</configuration>